body{
  background-color: bisque;
}

.app-container{
  margin: 0 auto;
 font-weight: 500;
 font-size: 20px;
 padding-top:50px ;

 .new-activities{
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
  color: saddlebrown;
    input{
      font-size: 20px;
      border-radius: 10px;
    }
    .btn{
      background-color: saddlebrown;
      color: bisque;
      border-radius: 25px;
    }
  }

  ul .completed{
    text-decoration: line-through;
    opacity: 0.5;
  }

}


